<pluto-var name="integer.wsserver.0.numA" alias="numA" writable></pluto-var>
<pluto-var name="integer.wsserver.0.numB" alias="numB" writable></pluto-var>
<pluto-var name="integer.wsserver.0.sum" alias="sum" writable></pluto-var>
<m-window caption="Empty Screen">
    <!-- This is the main area of the screen -->
    Hello world. This is the the value of testVar in the controller: <b>{{ctrl.testVar}}</b>

    <m-input-number value="ctrl.numberA" on-value-changed="ctrl.numAChanged">Number A</m-input-number>
    <m-input-number value="ctrl.numberB" on-value-changed="ctrl.numBChanged">Number B</m-input-number>

    <m-value value="{{sum}}" unit="amstrong" decimals="2" text-align="left">SUM A+B</m-value>
    <m-value value="{{numA}}" unit="asdf" decimals="2" text-align="left">Number A</m-value>
    <m-value value="{{numB}}" unit="asdf" decimals="2" text-align="left">Number B</m-value>
</m-window>

<m-nav-bar>
    <!-- Add navigation/footer stuff here. E.g. back button. -->
</m-nav-bar>
